MARIADB_ROOT_PASSWORD=
MARIADB_DATABASE=petnet
MARIADB_USER=petnetuser
MARIADB_PASSWORD=

DB_ENGINE=mysql
DB_HOST=database # This must match the name of the database service in your docker-compose.yml file
DB_PORT=3306
DB_CHARSET=utf8mb4